# .env

# General
DEBUG=True
SECRET_KEY=super secret key
SECURITY_PASSWORD_SALT=super password salt
SECURITY_TRACKABLE=True
SECURITY_LOGIN_URL=/not_required
SECURITY_TOKEN_AUTHENTICATION_HEADER=Authorization

# Uploads
UPLOAD_FOLDER=static/uploads
ALLOWED_EXTENSIONS=png,jpg,jpeg,gif

# Database
# For localDev:
SQLALCHEMY_DATABASE_URI=sqlite:///quiz_db.sqlite3

# For Deployment (override this when deploying):
# SQLALCHEMY_DATABASE_URI=sqlite:///site.sqlite3